.Home {
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* .Project {
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spaceBox {
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.displayInfo {
  flex: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
} */